<!-- {% load staticfiles %} -->
{% load static from  staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Notifier</title>

	<!-- Below is standard path provided by Channels -->
	<script src = "{% static '/channels/js/websocketbridge.js' %}" type="text/javascript"></script>
</head>
<body>
	<h1>Notifier</h1>
	<script>
		// Adding event listener to wait until page is loaded.
		document.addEventListener('DOMContentLoaded', function () {

			// Creating WebSocketBridge instance.
			const webSocketBridge = new channels.WebSocketBridge();

			// Connecting to path.
			webSocketBridge.connect('/ws/');

			// Listening to that location for any event.
			webSocketBridge.listen(function(action) {
				console.log("RESPONSE:", action);
			});

			// Creating a top level property for simplifying debugging
			document.ws = webSocketBridge;
		})
	</script>
</body>
</html>